<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
  <title>Cryptocurrency Exchanges</title>
  <link rel="icon" href="https://www.lumoxchange.com/public/redesign/img/icons/GreatRatesIcon.png" type="image/x-icon" />
</head>
<header>
  <nav>
    <h1>Cryptocurrency Exchanges</h1>
  </nav>
</header>

<body>
  <div id="table-outer-div">
    {{{body}}}
  </div>
</body>

</html>