<div id="error-div">
  <div>
    <img id="error-img" src="https://pbs.twimg.com/media/DrwKdfjWoAAllJb.png:large">
  </div>
  <div>  
    <h1 id="error-h1">Bummer</h1>
  </div>
  <div>
    <h2>It appears the page you're looking for doesn't exist.</h2>
  </div>
</div>